@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap')

html
    background-color: #f0f0f0

.center-wrapper
    display: grid
    align-content: center
    justify-content: center
    justify-items: center
    margin: auto
    width: 360px
    height: 360px
    font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif
    font-size: 36px

.face-logo
    width: 240px
    margin-bottom: 16px